<strong>Hello, {{ provider }}</strong>
<p>There was a schedule cancellation, you can see the details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date/Time: </strong> {{ date }} <br />
  <br />
  <small>
    This time is now available again for new schedules
  </small>
</p>
